body {
  font-family: 'Helvetica Neue','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: '1.5em'
}

@font-face {
  src: local('./fonts/Komoda.otf');
  font-family: 'Komoda';
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  cursor: pointer;
}