.Dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Dashboard-container {
  display: flex;
  flex-grow: 1;
}

.Dashboard-profile {
  text-align: center;
  width: 40%;
  height: inherit;
}

.Dashboard-header, .Dashboard-maxAmount-header {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
}

.Dashboard-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 60%;
}

.Dashboard-user-data-dialog {
  text-align: center;
}

.Dashboard-sc, .Dashboard-maxAmount {
  display: inline-block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 64px;
}

.Dashboard-profile-pic {
  margin-top: 36px;
  height: 240px;
  width: 240px;
  border-radius: 300px;
  box-shadow: -2px 2px 2px #858585;
}

.Dashboard-greeting {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 32px;
  margin-top: 32px;
}

.Dashboard-breakdown {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 32px;
  margin-top: 32px;
}

@media only screen and (max-width: 1100px) {
  .Dashboard-container {
    flex-direction: column;
  }

  .Dashboard-main {
    width: 100%;
  }

  .Dashboard-profile {
    width: 100%;    
    padding-bottom: 32px;
  }
}