.Login {
  background: url('https://images.pexels.com/photos/39853/woman-girl-freedom-happy-39853.jpeg?cs=srgb&dl=beach-dark-dawn-39853.jpg&fm=jpg');
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.Login-modal {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-modal-title {
  font-size: 3em;
}

.Login-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  color: white;
  font-size: 1.3em;
  counter-reset: listItem;
  list-style-type: none;
}

.Login-steps-item::before {
  content: counter(listItem, decimal);
  counter-increment: listItem;
  font-size: 2em;
  font-weight: 800;
  margin-right: 16px;

  position: relative;
  top: 0;
  left: 0;
}

.walkthrough-steps-image {
  background-repeat: no-repeat;
  background-position: center top;
}

.Login-secured-conditions {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  font-size: 20px;
}